:root {
  --primary: #495e57;
  --secondary: #ee9972;
  --highlight: #f4ce14;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Geologica", sans-serif;

  --primary-trans-80: #495e57cc;
  --primary-trans-75: #495e57bf;
  --primary-trans-50: #495e5780;
  --primary-trans-25: #495e5740;

  --secondary-trans-80: #ee9972cc;
  --secondary-trans-75: #ee9972bf;
  --secondary-trans-50: #ee997280;
  --secondary-trans-25: #ee997240;

  --white: #edefee;
  --black: #000000;
  --btn-radius: 3px;
  --radius: 50px;
  --transition: all 0.73s ease;
  --transition-main: 1s all cubic-bezier(0.7, 0, 0.1, 1);
  --transition-text: 1s all ease-in-out;
  --transition-fast: 0.1s all ease-in-out;

  --gray: #999;
  --gray-light: #ccc;
  --gray-dark: #333333;
  --gray-darker: #222222;
}

.App {
  text-align: center;
}
.App-Contrainer {
  max-width: 880px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header img:nth-child(1) {
  width: 50vw;
  max-width: 250px;
  padding-bottom: 15px;
}
.App-header img:nth-child(2) {
  width: 80vw;
  max-width: 440px;
  margin: 0 20px;
  margin-bottom: 40px;
}

.App-link {
  color: #61dafb;
}
.App-contain {
  position: relative;
  background-color: var(--white);
  height: 100vh;
  overflow: hidden;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 80%;
  max-width: 440px;
  color: white;
  border-radius: var(--radius);
  border: unset;
  font-size: 25px;
  padding: 10px 0;
  margin-bottom: 20px;
  font-weight: bolder;
  transition: all 0.73s ease;
}
button.secondary {
  background-image: linear-gradient(
    to left,
    var(--secondary),
    var(--highlight)
  );
}
button.secondary:hover {
  background-image: linear-gradient(
    to right,
    var(--secondary),
    var(--highlight)
  );
}
button.secondary:active {
  background: var(--highlight);
  color: var(--primary);
}

button.primary {
  background-image: linear-gradient(to left, var(--primary), var(--gray-dark));
}
button.primary:hover {
  background-image: linear-gradient(to right, var(--primary), var(--gray-dark));
}
button.primary:active {
  background: var(--primary);
  color: var(--secondary);
}
button.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: unset;
  color: var(--primary);
  background: var(--white);
  justify-content: center;
  align-items: center;
  display: flex;
}
.back-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 30px 20px;
  height: 15vh;
  z-index: 2;
}

.back-header h1 {
  color: var(--white);
  font-weight: 600;
  margin-bottom: 16px;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-image: url("./assets/feature2.jpg");
  background-size: cover;
  background-position: center;
}
div.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0)
  );
}

.menu-item{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
.menu-item img{
  width: clamp(24vw, 100%, 40vw);
  padding-left: 10px;
}
.menu-details{
  margin-left: 20px;
}

.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.table-input{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
.timesContainer{
  display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}